config:
  api:
    # 接口地址
    url:
    password:
    userName:
    # token过期时间
    expire_time:
    # 失败重试次数
    failed_retry_times:
    show_log:
  app:
    # 本地存储路径
    adb_path:
    # 本地存储路径
    devices:
    username:
    password:
    pagename:
  mysql:
    # 数据库地址
    host:
    # 数据库端口
    port:
    # 数据库用户名
    user:
    # 数据库密码
    password:
    # 数据库名称
    db:
  rabbitmq:
    # rabbitmq地址
    host:
    # rabbitmq端口
    port:
    # rabbitmq用户名
    username:
    # rabbitmq密码
    password:
    # rabbitmq虚拟主机
    virtual_host:
  webdriver:
   #驱动地址
    win_path:
  webui:
    # webui地址
    host:
    username:
    password:


